@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #1C0C39;
    max-width: 100%;
    margin: 0 auto;
}

header {
    margin: auto;
    text-align: center;
    margin-top: 15%;
}

header:hover {
    transform: scale(1.015);
    animation-duration: .5s;
}

nav {
    text-align: center;
    background-color: hsl(280, 100%, 98%, 0.6);
    color: #FCF6FF;
    max-width: 25%;
    max-height: 70%;
    position: fixed;
    height: 100vh;
    top: 125px;
    left: 15px;
    padding: 4%;
    border-radius: 20px;
    font-family: "Space Mono", monospace;
}

#chicken:hover {
    transform: scale(1.05);
    animation-duration: .5s;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    align-content: center;
    max-width: 85%;
    margin-left: 25%;
    padding: 3%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color:#FCF6FF;
}

section img {
    display: block;
    margin: auto;
}


footer {
    background-color: #D19CEA;
    color: #FCF6FF;
    text-align: center;
    padding: 15px;
    font-family: "Space Mono", monospace;

}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Space Mono", monospace;
    background-color:#1C0C39;
    font-size: 20px;
    position: fixed;
    width: 100%;
}

#top img {
    margin: 15px;
    border-radius: 10px;
}



#logo:hover {
    transform: scale(1.05);
    animation-duration: .5s;
}

#waymoclip:hover {
    transform: scale(1.05);
    animation-duration: .5s;
}

#canvasclip:hover {
    transform: scale(1.05);
    animation-duration: .5s;
}

#clockclip:hover {
    transform: scale(1.05);
    animation-duration: .5s;
}

#findclip:hover {
    transform: scale(1.05);
    animation-duration: .5s;
}

#gmailclip:hover {
    transform: scale(1.05);
    animation-duration: .5s;
}

#mapsclip:hover {
    transform: scale(1.05);
    animation-duration: .5s;
}

#photosclip:hover {
    transform: scale(1.05);
    animation-duration: .5s;
}

#safariclip:hover {
    transform: scale(1.05);
    animation-duration: .5s;
}

#music {
    margin-top: 125px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #D19CEA;
}

#music-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #FF4E88;
}


#weather {
    margin: 5px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #EACE00;
}

#weather-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #D19CEA;

}


#maps {
    margin: 5px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #FF4E88;
}

#maps-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #EACE00;

}


#photos {
    margin: 5px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #D19CEA;
}

#photos-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #FF4E88;

}


#findmy {
    margin: 5px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #EACE00;
}

#findmy-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #D19CEA;

}


#gmail {
    margin: 5px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #FF4E88;
}

#gmail-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #EACE00;

}


#canvas {
    margin: 5px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #D19CEA;
}

#canvas-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #FF4E88;

}


#clock {
    margin: 5px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #EACE00;
}

#clock-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #D19CEA;

}


#zillow {
    margin: 5px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #FF4E88;
}

#zillow-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #eace00;

}


#safari {
    margin: 5px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #D19CEA;
}

#safari-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #FF4E88;

}


#insta {
    margin: 5px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #eace00;
}

#insta-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #D19CEA;
}


#waymo {
    margin: 5px;
    flex-basis: 40%;
    padding: 3%;
    border-radius: 20px;
    background-color: #FF4E88;
    text-align: center;
}

#waymo-text {
    text-align: center;
    margin: 5px;
    padding: 50px;
    flex-basis: 40%;
    background-color: hsl(280, 100%, 98%, 0.6);
    border-radius: 20px;
    line-height: 1.5;
    border: 3px solid #EACE00;
}

